    body {
        font-family: 'Chilanka', cursive;
        background-color: #04A1BF;
    }
    
    div {
        text-align: center;
    }
    
    #white {
        color: white;
    }
    
    #yellow {
        color: yellow;
    }
    
    #green {
        color: lightgreen;
    }
    
    #grey {
        color: #025F70;
        margin-bottom: 30px;
    }
    
    #input {
        width: 520px;
        height: 30px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 5px;
        border: none;
        margin-bottom: 20px;
    }
    
    #submit {
        padding: 6px;
        border-radius: 2px;
        border: none;
        background: #025F70;
        color: #04A1BF;
    }
    
    #submit:hover {
        background-color: #02798F;
        color: #FFCD5D;
    }
    
    #submit:active {
        border: 1px;
        color: orange;
        background-color: darkgreen;
    }
    
    #todolist {
        margin: auto;
        background-color: white;
        width: 30%;
        list-style: none;
    }
    
    li {
        margin: 0.5rem;
    }